
/**
 * Article box is missing
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background:#777;
  font-size: 24px;
  line-height: 32px;
  color: '#777';
  width: '960px';
  font-size: '18px';
}

header {
  background:white;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  margin: 25px;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  
}

#nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background:white;
  margin: 25px;
}

#full {
  width: 50%;
  float: left;
  clear: both;
  color: #fff;
  background: white;
  height: 300px;
  border: 20px solid gray;
  
}


#aside {
  width: 50%;
  float: right;
  color: '#777';
  background:white;
  height: 300px;
  border: 20px solid gray;
  
}

#division {
 
  padding: 20px;
  margin-top: 20px;
  background: grey;
  overflow: visible;
  
}


footer {
  color: #333;
  padding: 20px;
  clear: both;
  background: white;
  margin: 25px;
}